

@font-face {
    font-family: 'Galano';
    src: url('fonts/rene_bieder_-_galano_grotesque_semibold-webfont.woff2') format('woff2'),
         url('fonts/rene_bieder_-_galano_grotesque_semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Galano';
    src: url('fonts/rene_bieder_-_galano_grotesque-webfont.woff2') format('woff2'),
         url('fonts/rene_bieder_-_galano_grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Galano';
  src: url('fonts/rene_bieder_-_galano_grotesque_extrabold_italic-webfont.woff2') format('woff2'),
  url('fonts/rene_bieder_-_galano_grotesque_extrabold_italic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@import url('https://use.typekit.net/jon2hvb.css');
@import url('https://fonts.googleapis.com/css?family=Cormorant:600&display=swap');

