.job-item {
  padding: 24px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  .h5{
    line-height: 1;
    margin-bottom: 16px;
  }
  .h3{
    color: $c-azuloscuro;
  }
}
@include respond-above(md){
  .job-item {
    min-height: 305px;
  }
}
